extends layout

block content
	div.container
		div.row
			div.col-md-12
				h1 Problems
				hr
				each week in programme
					h4 Week #{week.week} - #{week.name}
					ul
						each problem in week.problems
							li
								if problem.available
									a(href='/editor/#{problem.id}') #{problem.name} 
									if problem.mark
										span (#{problem.mark}/100)
								else
									span.text-muted #{problem.name} 
